@use "sass:math"
@use "../variables" as vars

fieldset
  background-color: vars.$secondary-background-color
  border: vars.$base-border
  margin: 0 0 vars.$small-spacing
  padding: vars.$base-spacing

input,
label,
select
  display: block
  font-family: vars.$base-font-family
  font-size: vars.$base-font-size

label
  font-weight: 600
  margin-bottom: math.div(vars.$small-spacing, 2)

  &.required::after
    content: "*"

  abbr
    display: none

#{vars.$all-text-inputs},
select[multiple=multiple]
  background-color: vars.$base-background-color
  border: vars.$base-border
  border-radius: vars.$base-border-radius
  box-shadow: vars.$form-box-shadow
  box-sizing: border-box
  font-family: vars.$base-font-family
  font-size: vars.$base-font-size
  margin-bottom: vars.$small-spacing
  padding: math.div(vars.$base-spacing, 3)
  transition: border-color vars.$base-duration vars.$base-timing
  width: 100%

  &:hover
    border-color: vars.color-shade(vars.$base-border-color, 20%)

  &:focus
    border-color: vars.$action-color
    box-shadow: vars.$form-box-shadow-focus
    outline: none

  &:disabled
    background-color: vars.color-shade(vars.$base-background-color, 5%)
    cursor: not-allowed

    &:hover
      border: vars.$base-border

textarea
  resize: vertical

input[type="search"]
  appearance: none

input[type="checkbox"],
input[type="radio"]
  display: inline
  margin-right: math.div(vars.$small-spacing, 2)

  + label
    display: inline-block

input[type="file"]
  margin-bottom: vars.$small-spacing
  width: 100%

select
  margin-bottom: vars.$base-spacing
  max-width: 100%
  width: auto
