@use "../variables" as vars
@use "../_mixins" as *
@use "../placeholders" as *

.clearfix
  @extend %clearfix !optional

.txt-primary
  color: vars.$primary-color

.txt-white
  color: vars.$white-color

.txt-black
  color: vars.$black-color

.txt-blue
  color: vars.$blue-color

.txt-dark-gray
  color: vars.$dark-gray-color

.txt-medium-gray
  color: vars.$medium-gray-color

.txt-light-gray
  color: vars.$light-gray-color

.txt-left
  text-align: left

.txt-right
  text-align: right

.txt-center
  text-align: center

.txt-justify
  text-align: justify

.word-wrap
  +word-wrap

.dot
  border-radius: 50%
