@use "../variables" as vars

ul,
ol
  margin: 0 0 vars.$small-spacing
  padding: 0 0 0 vars.$base-spacing
  list-style-position: inside
  padding-left: 25px

dl
  margin-bottom: vars.$small-spacing

  dt
    font-weight: bold
    margin-top: vars.$small-spacing

  dd
    margin: 0

ul
  list-style-type: disc

ol
  list-style-type: decimal
