@use "../variables" as vars
@use "../mixins" as *
@use "./card"

//
// Articles
//

.post
  display: table

  &-meta
    font-size: .8rem
    font-weight: 300

  &-thumbnail
    &, img
      background-color: #f1eff0
      border-radius: vars.$base-border-radius

    +media(vars.$tablet-small)
      float: left
      max-width: 250px
      margin-right: vars.$small-spacing
      margin-bottom: vars.$small-spacing
      padding: vars.$small-spacing
      border: vars.$base-border

  .read-more
    color: vars.color-lighten(vars.$action-color, 10%)

  &-header
    margin-bottom: vars.$base-spacing

  &-title
    font-size: vars.rem(26)
    margin-bottom: 0
    line-height: 1.5em

  &-list
    .post
      @extend .card

      a
        color: vars.$base-font-color

        &:hover,
        &:active,
        &:focus
          color: vars.$primary-color

.post-list
  .post
    &-content,
    &-thumbnail
      +media(vars.$tablet-small)
        display: table-cell
        vertical-align: middle

    &-thumbnail
      margin-bottom: vars.$base-spacing
      padding: 0

      +media(vars.$tablet-small)
        width: 250px
        margin: 0

      > a
        display: inline-block

      &.no-image > a
        width: 100%
        min-height: 200px
        background: url(../images/placeholder.png) no-repeat 50%
        background-size: cover

    &-content
      +media(vars.$tablet-small)
        padding: 0 0 0 vars.$base-spacing
