@use "../variables" as vars
@use "../_mixins" as *


html,
body
  width: 100%
  height: 100%

body
  border-top: 5px solid vars.$primary-color
  background: vars.$base-background-color
  padding-top: 75px

  +media(vars.$tablet-small)
    padding-top: 0

figure
  margin: 0
  padding: 0

.main-container
  // use color-darken helper to avoid colliding with Sass built-ins
  background: vars.color-darken(vars.$base-background-color, 3%)
  padding: vars.$base-spacing 0

.container
  max-width: vars.$phone-large
  margin-left: auto
  margin-right: auto
  padding-left: vars.$base-spacing
  padding-right: vars.$base-spacing

  +media(vars.$tablet-small)
    max-width: vars.$tablet-small

  +media(vars.$desktop)
    max-width: 960px
