@use "../variables" as vars

.card
  background-color: vars.$white-color
  box-shadow: -1px 2px 6px 0 rgba(vars.$black-color, .1)
  padding: vars.$base-spacing
  transition: box-shadow vars.$base-duration vars.$base-timing
  border-radius: vars.$big-border-radius

  &:not(:last-child)
    margin: 0 0 vars.$base-spacing

  &:hover
    box-shadow: -1px 2px 12px 0 rgba(vars.$black-color, .2)
