@use "../variables" as vars

/* Site footer
.site-footer
  background-color: vars.$white-color
  border-top: 1px solid rgba(vars.$light-gray-color, .5)
  padding: vars.$base-spacing
  text-align: center

  p
    margin: 0
