@use "../variables" as vars
@use "../_mixins" as *

.site-header
  background-color: vars.$white-color
  padding: 0
  margin: 0
  border-bottom: 1px solid rgba(vars.$light-gray-color, .5)
  +position(fixed, 0 0 null 0)
  min-height: 80px
  width: 100%
  z-index: 1000

  @extend %clearfix !optional

  +media(vars.$tablet-small)
    +position(relative, auto)
    padding: vars.$base-spacing 0
    min-height: 35px

  .logo, a
    text-transform: lowercase

  .navbar
    float: right

  a
    color: vars.$medium-gray-color

    &:hover,
    &:focus,
    &:active
      color: vars.$dark-gray-color

.logo
  margin: 0
  padding: 0
  float: left
  font-weight: vars.$font-weight-normal
  font-size: vars.rem(20)
  +position(fixed, vars.$base-spacing null null vars.$base-spacing)
  z-index: 100

  +media(vars.$tablet-small)
    padding: 5px 0
    +position(relative, auto)

  span
    color: vars.$primary-color
