@use "../variables" as vars

.icon
  font-family: 'End2End' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

@each $name, $content in (
  home: vars.$icon-home,
  pencil: vars.$icon-pencil,
  image: vars.$icon-image,
  images: vars.$icon-images,
  camera: vars.$icon-camera,
  headphones: vars.$icon-headphones,
  music: vars.$icon-music,
  play: vars.$icon-play,
  price-tag: vars.$icon-price-tag,
  price-tags: vars.$icon-price-tags,
  barcode: vars.$icon-barcode,
  qrcode: vars.$icon-qrcode,
  cart: vars.$icon-cart,
  phone: vars.$icon-phone,
  phone-hang-up: vars.$icon-phone-hang-up,
  address-book: vars.$icon-address-book,
  envelop: vars.$icon-envelop,
  location: vars.$icon-location,
  location2: vars.$icon-location2,
  calendar: vars.$icon-calendar,
  keyboard: vars.$icon-keyboard,
  display: vars.$icon-display,
  laptop: vars.$icon-laptop,
  mobile: vars.$icon-mobile,
  mobile2: vars.$icon-mobile2,
  drawer: vars.$icon-drawer,
  drawer2: vars.$icon-drawer2,
  floppy-disk: vars.$icon-floppy-disk,
  undo: vars.$icon-undo,
  redo: vars.$icon-redo,
  undo2: vars.$icon-undo2,
  redo2: vars.$icon-redo2,
  bubble: vars.$icon-bubble,
  bubbles2: vars.$icon-bubbles2,
  bubble2: vars.$icon-bubble2,
  bubbles4: vars.$icon-bubbles4,
  user: vars.$icon-user,
  users: vars.$icon-users,
  user-tie: vars.$icon-user-tie,
  quotes-left: vars.$icon-quotes-left,
  quotes-right: vars.$icon-quotes-right,
  spinner2: vars.$icon-spinner2,
  spinner5: vars.$icon-spinner5,
  spinner8: vars.$icon-spinner8,
  spinner11: vars.$icon-spinner11,
  search: vars.$icon-search,
  zoom-in: vars.$icon-zoom-in,
  zoom-out: vars.$icon-zoom-out,
  enlarge: vars.$icon-enlarge,
  shrink: vars.$icon-shrink,
  enlarge2: vars.$icon-enlarge2,
  shrink2: vars.$icon-shrink2,
  lock: vars.$icon-lock,
  unlocked: vars.$icon-unlocked,
  wrench: vars.$icon-wrench,
  equalizer2: vars.$icon-equalizer2,
  cog: vars.$icon-cog,
  cogs: vars.$icon-cogs,
  bug: vars.$icon-bug,
  pie-chart: vars.$icon-pie-chart,
  stats-dots: vars.$icon-stats-dots,
  stats-bars: vars.$icon-stats-bars,
  mug: vars.$icon-mug,
  bin: vars.$icon-bin,
  briefcase: vars.$icon-briefcase,
  airplane: vars.$icon-airplane,
  truck: vars.$icon-truck,
  switch: vars.$icon-switch,
  power-cord: vars.$icon-power-cord,
  clipboard: vars.$icon-clipboard,
  menu: vars.$icon-menu,
  menu2: vars.$icon-menu2,
  menu3: vars.$icon-menu3,
  menu4: vars.$icon-menu4,
  cloud: vars.$icon-cloud,
  cloud-download: vars.$icon-cloud-download,
  cloud-upload: vars.$icon-cloud-upload,
  cloud-check: vars.$icon-cloud-check,
  earth: vars.$icon-earth,
  link: vars.$icon-link,
  attachment: vars.$icon-attachment,
  eye: vars.$icon-eye,
  eye-blocked: vars.$icon-eye-blocked,
  star-empty: vars.$icon-star-empty,
  star-half: vars.$icon-star-half,
  star-full: vars.$icon-star-full,
  heart: vars.$icon-heart,
  man: vars.$icon-man,
  woman: vars.$icon-woman,
  man-woman: vars.$icon-man-woman,
  warning: vars.$icon-warning,
  notification: vars.$icon-notification,
  question: vars.$icon-question,
  plus: vars.$icon-plus,
  minus: vars.$icon-minus,
  info: vars.$icon-info,
  cancel-circle: vars.$icon-cancel-circle,
  blocked: vars.$icon-blocked,
  cross: vars.$icon-cross,
  checkmark: vars.$icon-checkmark,
  checkmark2: vars.$icon-checkmark2,
  loop2: vars.$icon-loop2,
  infinite: vars.$icon-infinite,
  shuffle: vars.$icon-shuffle,
  arrow-right2: vars.$icon-arrow-right2,
  arrow-left2: vars.$icon-arrow-left2,
  circle-up: vars.$icon-circle-up,
  circle-right: vars.$icon-circle-right,
  circle-down: vars.$icon-circle-down,
  circle-left: vars.$icon-circle-left,
  shift: vars.$icon-shift,
  ctrl: vars.$icon-ctrl,
  checkbox-checked: vars.$icon-checkbox-checked,
  checkbox-unchecked: vars.$icon-checkbox-unchecked,
  radio-checked: vars.$icon-radio-checked,
  radio-unchecked: vars.$icon-radio-unchecked,
  filter: vars.$icon-filter,
  share: vars.$icon-share,
  new-tab: vars.$icon-new-tab,
  embed: vars.$icon-embed,
  embed2: vars.$icon-embed2,
  terminal: vars.$icon-terminal,
  share2: vars.$icon-share2,
  mail: vars.$icon-mail,
  mail2: vars.$icon-mail2,
  mail3: vars.$icon-mail3,
  mail4: vars.$icon-mail4,
  google3: vars.$icon-google3,
  google-plus: vars.$icon-google-plus,
  google-plus2: vars.$icon-google-plus2,
  google-plus3: vars.$icon-google-plus3,
  hangouts: vars.$icon-hangouts,
  google-drive: vars.$icon-google-drive,
  facebook: vars.$icon-facebook,
  facebook2: vars.$icon-facebook2,
  instagram: vars.$icon-instagram,
  whatsapp: vars.$icon-whatsapp,
  spotify: vars.$icon-spotify,
  telegram: vars.$icon-telegram,
  twitter: vars.$icon-twitter,
  rss: vars.$icon-rss,
  rss2: vars.$icon-rss2,
  youtube: vars.$icon-youtube,
  vimeo: vars.$icon-vimeo,
  flickr2: vars.$icon-flickr2,
  dribbble: vars.$icon-dribbble,
  behance: vars.$icon-behance,
  behance2: vars.$icon-behance2,
  dropbox: vars.$icon-dropbox,
  github: vars.$icon-github,
  trello: vars.$icon-trello,
  wordpress: vars.$icon-wordpress,
  joomla: vars.$icon-joomla,
  tux: vars.$icon-tux,
  appleinc: vars.$icon-appleinc,
  finder: vars.$icon-finder,
  android: vars.$icon-android,
  skype: vars.$icon-skype,
  linkedin: vars.$icon-linkedin,
  linkedin2: vars.$icon-linkedin2,
  chrome: vars.$icon-chrome,
  firefox: vars.$icon-firefox,
  IE: vars.$icon-IE,
  edge: vars.$icon-edge,
  safari: vars.$icon-safari,
  opera: vars.$icon-opera,
  html-five: vars.$icon-html-five,
  html-five2: vars.$icon-html-five2,
  css3: vars.$icon-css3,
  git: vars.$icon-git
)
  .icon-#{$name}
    &:before
      content: $content
