
@use "sass:math"
@use "../variables" as vars
@use "../placeholders" as *

.social
  padding: vars.$base-spacing 0
  @extend %clearfix !optional

  li
    display: inline-block
    padding: 0 math.div(vars.$base-spacing, 2.5)

  a
    color: vars.$medium-gray-color

    &:hover,
    &:active,
    &:focus
      color: vars.$primary-color

  i
    font-size: 1.6em
