<div id="giscus_thread"></div>
<script>
  (function() {
    var target = document.getElementById('giscus_thread');
    if (!target) return;
    var s = document.createElement('script');
    s.src = 'https://giscus.app/client.js';
    s.async = true;
    s.crossOrigin = 'anonymous';
    s.setAttribute('data-repo', '{{ site.comments.giscus.repo }}');
    s.setAttribute('data-repo-id', '{{ site.comments.giscus.repo_id }}');
    s.setAttribute('data-category', '{{ site.comments.giscus.category }}');
    s.setAttribute('data-category-id', '{{ site.comments.giscus.category_id }}');
    s.setAttribute('data-mapping', '{{ site.comments.giscus.mapping | default: "pathname" }}');
    s.setAttribute('data-reactions-enabled', '{{ site.comments.giscus.reactions | default: "1" }}');
    s.setAttribute('data-emit-metadata', '{{ site.comments.giscus.emit_metadata | default: "0" }}');
    s.setAttribute('data-input-position', '{{ site.comments.giscus.input_position | default: "bottom" }}');
    s.setAttribute('data-theme', '{{ site.comments.giscus.theme | default: "light" }}');
    target.appendChild(s);
  })();
</script>
