@use "mixins" as *
@use "variables" as vars

%clearfix
  +clearfix

%button
  appearance: none
  background-color: vars.$action-color
  border: 0
  border-radius: vars.$base-border-radius
  color: #fff
  cursor: pointer
  display: inline-block
  font-family: inherit
  font-size: inherit
  -webkit-font-smoothing: antialiased
  font-weight: 700
  line-height: 1
  padding: vars.$small-spacing vars.$base-spacing
  text-decoration: none
  transition: background-color vars.$base-duration vars.$base-timing
  user-select: none
  vertical-align: middle
  white-space: nowrap

  &:hover,
  &:focus
    background-color: vars.color-shade(vars.$action-color, 20%)

  &.disabled,
  &:disabled
    color: inherit
    cursor: not-allowed
    box-shadow: none
    opacity: .65

    &:hover,
    &:focus
      color: inherit
      background: none transparent
