<ul class="social">
  <li><a href="{{ site.author.github }}" target="_blank"><i class="icon icon-github"></i></a></li>
  <li><a href="{{ site.author.twitter }}" target="_blank"><i class="icon icon-twitter"></i></a></li>
  <li><a href="{{ site.author.facebook }}" target="_blank"><i class="icon icon-facebook"></i></a></li>
  <li><a href="{{ site.author.linkedin }}" target="_blank"><i class="icon icon-linkedin"></i></a></li>
  <li><a href="{{ site.author.whatsapp }}" target="_blank"><i class="icon icon-whatsapp"></i></a></li>
  <li><a href="tel:{{ site.author.phone }}" target="_blank"><i class="icon icon-phone"></i></a></li>
  <li><a href="tel:{{ site.author.cellphone }}" target="_blank"><i class="icon icon-cellphone"></i></a></li>
  <li><a href="mailto:{{ site.author.email }}" target="_blank"><i class="icon icon-email"></i></a></li>
</ul>